/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #FFDC3A;
}

.parallax-container {
  min-height: 450px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
#logo-banner-text{
    display: none;
}
@media only screen and (max-width : 1068px) {
    #logo-banner{
        visibility: hidden;
        display: none;
    }
    #logo-banner-text{
        display:block;
    }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*
Overrides
Mohit Mohan
*/
.tshadow
{
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3) !important;
}
.brand-logo-bg
{
    background-color: #FFDC3A !important;
    opacity: 0.7;
}
.brand-color-bg
{
    background-color: #FFDC3A !important;
}
.brand-color
{
    color: #FFDC3A !important;
}
